In [1]:
import pandas as pd

dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105']

pd.to_datetime(dates)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [2]:
dates = ['2017-01-05 2:30:00', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105']

pd.to_datetime(dates)

DatetimeIndex(['2017-01-05 02:30:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [3]:
pd.to_datetime('05/01/2017')

Timestamp('2017-05-01 00:00:00')

In [4]:
pd.to_datetime('05/01/2017', dayfirst=True)

Timestamp('2017-01-05 00:00:00')

In [8]:
pd.to_datetime('5$1$2017', format='%d$%m$%Y')

Timestamp('2017-01-05 00:00:00')

In [10]:
dates = ['2017-01-05 2:30:00', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105','abc']

pd.to_datetime(dates,errors='ignore')

Index(['2017-01-05 2:30:00', 'Jan 5, 2017', '01/05/2017', '2017.01.05',
       '2017/01/05', '20170105', 'abc'],
      dtype='object')

In [12]:
dates = ['2017-01-05 2:30:00', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105','abc']

pd.to_datetime(dates,errors='coerce')

DatetimeIndex(['2017-01-05 02:30:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
                               'NaT'],
              dtype='datetime64[ns]', freq=None)

In [13]:
t=1501356749
pd.to_datetime(t,unit='s')

Timestamp('2017-07-29 19:32:29')

In [16]:
t=1501356749
df = pd.to_datetime([t],unit='s')
df

DatetimeIndex(['2017-07-29 19:32:29'], dtype='datetime64[ns]', freq=None)

In [17]:
df.view('int64')

array([1501356749000000000], dtype=int64)