In [4]:
import pandas as pd
df = pd.read_csv("desktop\\py-master\\pandas\\2_dataframe_basics\\weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
import pandas as pd
weather_data = {
    'day':['1/1/17','1/3/17','1/3/17','1/4/17','1/5/17','1/6/17'],
    'tamperature':[32,35,28,24,32,31],
    'windspeed':[6,7,2,7,4,2],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df = pd.DataFrame(weather_data)
df

      day  tamperature  windspeed  event
0  1/1/17           32          6   Rain
1  1/3/17           35          7  Sunny
2  1/3/17           28          2   Snow
3  1/4/17           24          7   Snow
4  1/5/17           32          4   Rain
5  1/6/17           31          2  Sunny

In [7]:
df.shape

(6, 4)

In [8]:
rows,columns=df.shape

In [9]:
rows

6

In [10]:
columns

4

In [11]:
df.head()

      day  tamperature  windspeed  event
0  1/1/17           32          6   Rain
1  1/3/17           35          7  Sunny
2  1/3/17           28          2   Snow
3  1/4/17           24          7   Snow
4  1/5/17           32          4   Rain

In [12]:
df.head(2)

      day  tamperature  windspeed  event
0  1/1/17           32          6   Rain
1  1/3/17           35          7  Sunny

In [13]:
df.tail()

      day  tamperature  windspeed  event
1  1/3/17           35          7  Sunny
2  1/3/17           28          2   Snow
3  1/4/17           24          7   Snow
4  1/5/17           32          4   Rain
5  1/6/17           31          2  Sunny

In [15]:
df.tail(2)

      day  tamperature  windspeed  event
4  1/5/17           32          4   Rain
5  1/6/17           31          2  Sunny

In [16]:
df[2:4]

      day  tamperature  windspeed event
2  1/3/17           28          2  Snow
3  1/4/17           24          7  Snow

In [17]:
df.columns

Index(['day', 'tamperature', 'windspeed', 'event'], dtype='object')

In [18]:
df.day

0    1/1/17
1    1/3/17
2    1/3/17
3    1/4/17
4    1/5/17
5    1/6/17
Name: day, dtype: object

In [19]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [20]:
type(df['event'])

pandas.core.series.Series

In [21]:
df[['day','event']]

      day  event
0  1/1/17   Rain
1  1/3/17  Sunny
2  1/3/17   Snow
3  1/4/17   Snow
4  1/5/17   Rain
5  1/6/17  Sunny

In [24]:
df['tamperature'].min()

24

In [25]:
df['tamperature'].max()

35

In [26]:
df['tamperature'].mean()

30.333333333333332

In [27]:
df.describe()

       tamperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [28]:
df[df.tamperature>=32]

      day  tamperature  windspeed  event
0  1/1/17           32          6   Rain
1  1/3/17           35          7  Sunny
4  1/5/17           32          4   Rain

In [29]:
df[df.tamperature==df['tamperature'].max()]

      day  tamperature  windspeed  event
1  1/3/17           35          7  Sunny

In [30]:
df[df.tamperature==df['tamperature'].min()]

      day  tamperature  windspeed event
3  1/4/17           24          7  Snow

In [31]:
df['day'][df.tamperature==df['tamperature'].max()]

1    1/3/17
Name: day, dtype: object

In [33]:
df[['day','tamperature']][df.tamperature==df['tamperature'].max()]

      day  tamperature
1  1/3/17           35

In [46]:
df.index

Int64Index([32, 35, 28, 24, 32, 31], dtype='int64', name='tamperature')

In [47]:
df.set_index('day')

KeyError: "None of ['day'] are in the columns"

In [43]:
df.set_index('day',inplace=True)

KeyError: "None of ['day'] are in the columns"

In [48]:
df

             windspeed  event
tamperature
32                   6   Rain
35                   7  Sunny
28                   2   Snow
24                   7   Snow
32                   4   Rain
31                   2  Sunny

In [49]:
df

             windspeed  event
tamperature
32                   6   Rain
35                   7  Sunny
28                   2   Snow
24                   7   Snow
32                   4   Rain
31                   2  Sunny

In [50]:
df.reset_index(inplace=True)

In [51]:
df

   tamperature  windspeed  event
0           32          6   Rain
1           35          7  Sunny
2           28          2   Snow
3           24          7   Snow
4           32          4   Rain
5           31          2  Sunny